{% extends "base.html" %}
{% block content %}

<!-- List items and add delete button for every of them.-->
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="text-align: center; margin: 100px auto;">
    <div class="card text-white bg-dark col-auto">
      <h3> ITEMS </h3>
      {% for item in items %}
      <div class="card text-white bg-secondary col-auto" style="margin: 10px 20px; width: auto; height:auto;">
            <p class="card-text"> 
              <strong class="text-warning">
                {{ item.name }}
              </strong>
            </p>
            <form action="/delete-item" method="post">
                <input type="hidden" name="name" value="{{item.name}}">
                <button class="btn btn-danger" type="submit">Delete Item</button>
            </form>
      </div>
      {% endfor %}
    </div>
</div>


  {% endblock %}